<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2"
          name="C:/Users/vrtosh/Music/NEXT/automation/Testng/src/main/java/org/example/Main.java">
        <classes>
            <class name="org.example.Main">
                <methods>
                    <include name="Logn"/>
                    <include name="Logout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>